header{
   color: burlywood; 
   text-align: center;
   background-color: black;
   padding: 30px;
   font-size: 35px;
}

section{
    display: flex;
    
    
}
ul{
    list-style: none;
    padding: 0;
    
}